body {
  background-color: #282c34;
}

.error {
  text-align: center;
  padding: 5vh;
}

.tarot-error {
  position: relative;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  height: 40vh;
  aspect-ratio: 412 / 686;
  filter: grayscale(30%);
}