.tarot-sides-container {
  display: flex;
  justify-content: center;
  height: 60vh;
  aspect-ratio: 412 / 686;
}

.back-card {
  position: absolute;
  will-change: transform, opacity, height, filter;
  transition: filter 1s;
}

.front-card {
  position: absolute;
  will-change: transform, opacity, height, filter;
  transition: filter 1s;
  filter: grayscale(30%);
}

.back-card:hover {
  filter: drop-shadow(0 0 1em white);
}